@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@model MessageBoard.ViewModels.TopicViewModel

<h1>List of topics for category @Model.currentCategory.Name</h1>
@foreach (var topic in Model.Topics)
{
    <li>
        <a asp-controller="Message" asp-action="List" asp-route-topicId=@topic.Id>@topic.topicName</a>
    </li>
}
